body {
	background-color: #000;
}
#padding {
	height: 20vh;
}
.arch {
	height: 20vh;
}

#red {
	background-color: red;
	cursor: pointer;

}
#red:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}
#blue {
	background-color: blue;
	cursor: pointer;
}
#blue:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}
#yellow {
	background-color: yellow;
	cursor: pointer;
}
#yellow:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}
#green {
	background-color: green;
	cursor: pointer;
}
#green:active {
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}
#start {
	height: 20vh;
	text-align: center;
	/*width: 20vw;*/
	background-color: #e0e0e0;
	border-radius: 180px;
}
#start_button {
	border-radius: 180px 180px 5px 5px;
}
