body {
	background-color: #000;
}
#padding {
	height: 20vh;
}
.arch {
	height: 20vh;
}

#red {
	background-color: red;
}
#blue {
	background-color: blue;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
}
#start {
	height: 20vh;
	text-align: center;
	/*width: 20vw;*/
	background-color: #e0e0e0;
	border-radius: 180px;
}
#start_button {
	border-radius: 180px 180px 5px 5px;
}
