.arch {
	height: 50px;
	/*width: 20vw;*/
}

#red {
	background-color: red;
}

#blue {
	background-color: blue;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
}
#start {
	height: 50vh;
	/*width: 20vw;*/
	background-color: #e0e0e0;
}
